<% params[:client_id] ? provide(:for," " + append_client(params[:client_id]) + " "): provide(:for, " ") %>
<div class="page-header">
    <h1>Schedule
    <%=  append_client(params[:client_id]) if params[:client_id] %>
    </h1>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Work Order Number</th>
            <th>Title</th>
            <th>Client</th>
            <th>Description</th>
            <th>Quantity</th>
            <th>Due</th>
            <th>Status</th>
        </tr>
    </thead>
    
    <tbody>
        <% @workorders.each do |workorder| %>
            <tr class = "<%="success" if workorder.status.description == "Completed"%>">
                <td><h4><%=link_to(workorder.display_number,work_order_path(workorder))%></h4></td>
                <td><h5><%=workorder.title%></h5></td>
                <td><%=workorder.client.name%></td>
                <td><%=workorder.projectDescription%></td>
                <td><%=workorder.quantity%></td>
                <td><%= best_in_place workorder, :dueDate, :as => :date, :display_as => :display_date %></td>
                <td><%= best_in_place workorder, :status_id, :as => :select, :collection => Status.status_id_collection, :class => "status" %></td>
            </tr>
        <% end %>
    </tbody>
</table>