<% params[:client_id] ? provide(:for," " + append_client(params[:client_id]) + " "): provide(:for, " ") %>
<div class="page-header">
    <h1>Schedule
    <%=  append_client(params[:client_id]) if params[:client_id] %>
    </h1>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Work Order Number</th>
            <th>Client</th>
            <th>Description</th>
            <th>Quantity</th>
            <th>Due</th>
            <th>Status</th>
        </tr>
    </thead>
    
    <tbody>
        <% @workorders.each do |workorder| %>
            <tr>
                <td><%=link_to(workorder.display_number,work_order_path(workorder))%></td>
                <td><%=workorder.client.name%></td>
                <td><%=workorder.projectDescription%></td>
                <td><%=workorder.quantity%></td>
                <td><%=workorder.dueDate.strftime("%A %B %d, %Y")%></td>
                <td><%=collection_select(:workorder, :status_id, Status.all, :id, :description) %></td>
            </tr>
        <% end %>
    </tbody>
</table>