<%provide(:for,"ing Work Order " + @workorder.display_number + " ")%>

<div class="page-header">
    <div class="row">
        <div class="col-md-6">
            <h1>Work Order: <%=@workorder.display_number%> <small>Client: <%=@workorder.client.name%></small></h1>
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-3">
            <h3>Rep:<small> test rep</small></h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2><%=@workorder.title%></h2>
        </div>
        <div class="col-md-4">
            <h3> Project Type: <%=@workorder.project_type.name%></h3>
        </div>
        <div class="col-md-4">
            <% if @workorder.dueDate > Date.today %>
                <h3>Due: <%=@workorder.dueDate.strftime("%A %B %d, %Y")%></h3>
            <% else %>
                <h3 class="text-danger">Due: <%=@workorder.dueDate.strftime("%A %B %d, %Y")%></h3>
            <% end %>
        </div>
    </div>
</div>
<fieldset id="general-info">
    
</fieldset>
<% if @workorder.mailing_componant? %>
    <fieldset id="presort-information">
        
    </fieldset>
<%end%>
<% if @workorder.printing_componant? %>
    <fieldset id="printing-information">
        
    </fieldset>
<%end%>
<fieldset id="production-information">
    
</fieldset>